.slice path {
    stroke: #fff;
    stroke-width: 1px;
}

.textTop {
    font-family: 'Arial', monospace;
    font-size: 12pt;
    fill: #bbb;
}

.textBottom {
    fill: #444;
    font-family: 'Arial',monospace;
    font-weight: bold;
    font-size: 18pt;
}

.top {
    border: 1px solid #bbb;
    color: #777;
    font-family: 'Arial', monospace;
    padding: 5px;
    text-decoration: none;
}

.top:hover {
    border: 1px solid #555;
    color: #333;
}
.legend{
    font-family: 'Arial', monospace;
    font-size: 12px;
}
