.axis path {
    fill: none;
    stroke: #777;
}
.axis text {
    font-family: Lato, monospace;
    font-size: 13px;
    color:red;
}



#label {
    font-family: Arial, monospace;
    color: #777777;
    font-size:10px;
}