.axis path {
    fill: none;
    stroke: #777;
}
.axis text {
    font-family: Lato, monospace;
    font-size: 13px;
    color:red;
}

#title {
    font-family: Arial, monospace;
    color: #777777;
    font-size:18px;
}


#label {
    font-family: Arial, monospace;
    color: #777777;
    font-size:10px;
}