rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}

text.mono {
    font-size: 9pt;
    font-family: Arial, monospace;
    fill:#404040;
    font-weight: 700;
}

text.axis-areas {
    fill: #000;
}

text.axis-domains {
    fill: #000;
}